@import "tailwindcss";
@import "katex/dist/katex.min.css";

@theme {
  --color-brand-blue: #2563eb; 
  --color-brand-navy: #050810; 
  --color-brand-gold: #eab308;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Archivo Black", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #090014;
  background-image: radial-gradient(ellipse at top, #240b3e 0%, #05000a 70%);
  color: white;
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opactiy='0.05'/%3E%3C/svg%3E");
  opacity: 0.03;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 1;
}
